
<header>
    <app-latermenu></app-latermenu>
</header>
<main>
    <section class="flex-container">
        <div class="tool-menu-container">
            <div class="title-container">
                Narzędzia
            </div>
            <div class="for-menu-icons">
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>     
            </div>
            <div class="title-container">
                Opcje
            </div>
            <div class="for-option-container">
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
        </div>
        <div class="main-window-browser-container">
            <canvas id="main-canv" class="main-canv"></canvas>
        </div>
        <div class="image-info-container">
            <div class="title-container">
                Informacje o pliku
            </div>
            <div class="file-info-container">
                <div class="tool-icon">
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>
