
<section class="menu">
    <nav class="container">
        <ul class="ul-menu-left">
            <li>
                <a routerLink="/">Start</a>
            </li>
            <li>
                <a routerLink="/browser">Przeglądarka</a>
            </li>
        </ul>
        <ul class="ul-menu-right">
            <li>
                <a routerLink="/files">Pliki</a>
            </li>
            <li>
                <a routerLink="/profile">{{data.data.Name}} {{data.data.Surname}}</a>
            </li>
            <li>
                <a style="cursor:pointer" (click) ="logOut()" >Wyloguj</a>
            </li>
        </ul>
    </nav>
</section>
<router-outlet></router-outlet>