<header>
    <app-startmenu></app-startmenu>
    <section class="video-section">
        <video autoplay loop muted id="video-section-video">
        <source src="assets\video\wave.mov" type="video/mp4">
      </video>
        <div class="main-title container">Dicom Viewer</div>
    </section>
</header>
<main>
    <section class="container" id="description">
        <article>
            <h2 class="about-project">O projekcie</h2>
            <hr>
            <p class="about-project-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quae qui explicabo? Dolores doloribus possimus recusandae ad sapiente, ratione suscipit quam? Cum magni reiciendis, doloremque ipsum minima odio asperiores doloribus! Veritatis,
                expedita! Dolorem ab minima possimus facilis amet ipsam? Commodi, perspiciatis. Minus vel saepe voluptas illum cum maxime possimus, voluptatum nihil quidem reprehenderit, iusto nam laborum sit consectetur aperiam excepturi. Iusto laudantium
                molestiae optio delectus corporis sequi fugit iste odit accusantium nihil error beatae cum, quaerat eligendi aliquam inventore tenetur id magni consequuntur distinctio similique iure dignissimos, consectetur assumenda. Iusto. Veritatis
                illum labore ipsam architecto non, earum quasi numquam officiis asperiores nisi! Tenetur voluptatibus nisi similique corporis sint aspernatur ipsum, blanditiis delectus provident totam architecto corrupti velit accusantium doloremque voluptate.
                Minus est magnam omnis velit tempore cumque harum enim ullam? Doloribus quisquam rem iste molestias tenetur, possimus sequi optio? Ut minus corporis in commodi dolorem mollitia libero tenetur necessitatibus eligendi. Nobis tempora sunt
                distinctio minima sint laudantium excepturi cum consequatur? Delectus eaque molestiae, natus recusandae in distinctio saepe enim voluptatum dicta, doloribus nisi labore eveniet commodi voluptas. Itaque, impedit officiis. Optio natus perspiciatis
                consequuntur sunt, nam debitis labore a aliquam facere quod in recusandae voluptate. Est excepturi tempora obcaecati, maxime magnam quibusdam sunt quam id enim, ab, voluptatum eos voluptates? Id maiores, rem corporis culpa voluptatem eveniet
                est cupiditate, suscipit tenetur dolores quibusdam? Dolorem neque quis nobis dicta tempore officia, maiores aspernatur fugit, quam magnam, unde sed recusandae! Veritatis, vero! Quaerat aliquam porro, suscipit repellendus nam reiciendis
                nemo libero exercitationem? Quis voluptate porro modi eos sequi quisquam! Quis, fugiat cupiditate. Quis, molestias ipsum esse deleniti aspernatur quam fugiat consequatur reprehenderit. Rem magnam numquam quisquam molestias doloribus laudantium
                enim sequi fugiat, saepe pariatur dolor tempora consectetur quia illum! Quis a voluptas non nostrum, accusamus laborum, esse laboriosam itaque animi hic voluptate?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero velit, cum
                quis rem at magnam quasi laboriosam omnis optio ipsam nulla alias eaque dolorem quo ipsa error sequi, deleniti nihil.
            </p>

        </article>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>